body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  padding: 15px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
}

button {
  padding: 6px 10px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.pago {
  background: #1f6f1f;
}

.pendente {
  background: #5c1f1f;
}

.atrasado {
  background: #8b0000;
}

.barra {
  height: 10px;
  background: #333;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.progresso {
  height: 10px;
  background: #4caf50;
}
