body {
  font-family: Arial;
  background: #121212;
  color: white;
  padding: 20px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
}
